.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 .5rem 0;
    font-weight: 700;
}

.input {
    margin: 0 0 .75rem 0;
    width: 100%;
}

.button {
    width: 100%;
}

.spinner {
    height: 1.25rem;
    width: 1.25rem;
    animation: spin 1s linear infinite;
    border-radius: 9999px;
    border: 2px solid #1976d2;
    border-top: 2px solid #fff;
    margin: 0 .5rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}