.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.image {
  border-radius: 2rem;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  margin: 1rem 0 0 0;
}

.title {
  margin: 1rem 0 0 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.price {
  margin: 1rem 0 0 0;
  background-color: #007fff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.description {
  padding: 2rem 0;
}
